body {
    font-family: Arial, Helvetica, sans-serif;

}

body >  nav {
    background-image: linear-gradient(to right, lightblue  ,rgb(122, 160, 211));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    color: white;
    border: 1px solid #bbb;
}

body > nav > h1 {
    margin-left: 10px;
}

body > nav > section {
    display: flex;
    justify-content: flex-start;

}
nav > section > img {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-left: 10px;
}

body >  nav > ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

body >  nav > ul > li {
    display: block;
    border-left: 1px solid #bbb;
 
}

body > nav > ul > li > a{
    color: white;
    display: block;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: lightblue;
  }

.back_panel {
    background-image: linear-gradient(to right,rgb(122, 160, 211),  lightblue);
    color: white;
    border: 1px solid #bbb;
    margin-top: 10px;
    padding: 10px;
}

.back_panel article {
    background-image: linear-gradient(to right, lightblue  ,rgb(122, 160, 211));
    /* background-color: rgb(122, 160, 211); */
    padding: 10px;
}

article > img {
    width: 32%;
    border-radius: 15pc;
    border: 1px solid #bbb;
}
